@charset "utf-8";
/* CSS Document */
.uploadify-button{
	display:inline-block;
	margin:12px;
	border:1px solid #808080;
	background-color: #707070;
	line-height:24px;
	border-radius:12px;
	padding:0 18px;
    font-size:12px;
    font-weight: 600;
    font-family: '微软雅黑';
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
}
.uploadify-button:hover{
	background-color: #888;
}
.uploadfile{
	width:0;
	}

.uploadify-queue .uploadify-queue-item img{
	width: 100%;
	height: 100%;
}
.uploadbtn,.delfilebtn{
	display:inline-block;
	border:1px solid #999;
	line-height:24px;
	border-radius:4px;
	padding:0 18px;
    font-size:12px;
	color:#666;
	cursor:pointer;
	background:url(images/btnbg.png) repeat-x 0 0;
	text-decoration:none;
	}
.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent{
	font-size:12px;
	color:#666;
	margin-left:10px;
	}
.uploadify-progress{
	 display:inline-block;
	 width:600px;
	 height:10px;
	 background-color:white;
	 border-radius:20px;
	 border:2px groove #666;
	 vertical-align:middle;
	 padding:0;
	 }
.uploadify-progress-bar{
	width:0;
	height:100%;
	border-radius:20px;
	background-color: #0099FF;
}
.uploadify-queue .uploadify-queue-item{
	list-style-type:none;
	margin-top:10px;
	width: 100px;
	height: 100px;
	border: solid #ccc 1px;
	position: relative;
	display: inline-block;
	margin-right: 10px;
}
.progressnum,
.up_percent,
.up_filename{
	display: none;
}
.delfilebtn{
	position: absolute;
	top: 0px;
	right: 0px;
	background: #f00;
	border: none;
	width: 18px;
	height: 18px;
	padding: 0px;
	line-height: 18px;
	display: block;
	border-radius: 0px;
	text-align: center;
	color: #fff;
	display: none;
}
.uploadify-queue-item:hover{
	border-color: #f00;
}
.uploadify-queue-item:hover .delfilebtn{
	display: block;
}
.uploadify-progress{
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	border: none;
	background-color: transparent;
}
.uploadify-progress-bar{
	border-radius: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
#upload{
	float: left;
	position: relative;
	padding-right: 100px;
	min-height: 116px;
}
.uploadify-button{
	display: block;
	width: 100px;
	height: 100px;
	background-color: transparent;
	border-radius: 0px;
	border: solid #ccc 1px;
	color: #ccc;
	font-size: 70px;
	text-align: center;
	line-height: 100px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 10px;
	right: 0px;
}
.uploadify-button:hover{
	background-color: transparent;
	color: #f00;
	border-color: #f00;
}
